Options +FollowSymLinks
IndexIgnore */*
RewriteEngine on

# if request dosn't start with web add it
RewriteCond %{REQUEST_URI} !^/(web)
RewriteRule (.*) /web/$1 [L]

# if file or directory dosn't exists go to /web/index.php 
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /web/index.php

#<IfModule mod_rewrite.c>
#	Options +FollowSymlinks
#	RewriteEngine On
#</IfModule>
#
#<IfModule mod_rewrite.c>
#	RewriteCond %{REQUEST_URI} ^/.*
#	RewriteRule ^(.*)$ web/$1 [L]
#	
#	RewriteCond %{REQUEST_URI} !^/web/
#	RewriteCond %{REQUEST_FILENAME} !-f [OR]
#	RewriteCond %{REQUEST_FILENAME} !-d
#	RewriteRule ^.*$ web/index.php
#</IfModule>